*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid lightcoral;
}

html{
    font-family: 'Open Sans', sans-serif;
}


/* barra top di navigazione */
.nav-container{
    /* border: 1px dashed black; */
    display: flex;
    justify-content: space-between;
}

.nav-container div{
    /* border: 1px dashed red; */
    display: flex;
    align-items: center;
    gap: 20px;
    padding-inline: 20px;
}

.nav-container div a{
    padding-block: 20px;
    text-decoration: none;
    color: black;
}

.nav-container div a button{
    background-color: #0061ff;
    color: white;
    border: none;
    font-size: 16px;
    padding: 8px;
}

/* header prima parte azzurra con jumbo */
header{
    background-color: #91a7b9;
}

.header-container{
    width: 60%;
    margin: 0 auto;
}

.header-container h1{
    padding-top: 90px;
    font-size: 80px;
    margin-bottom: 50px;
}

.header-container-flex{
    display: flex;
}

.header-text-container{
    flex-basis: 35%;
}

.header-text-container a:nth-child(2),
.header-text-container a:nth-child(3){
    display: block;
    text-decoration: none;
    color: black;
    margin-block: 20px;
    padding-block: 10px;
}

.header-text-container a span{
    color: white;
    background-color: #0061ff;
    padding: 10px;
}

.header-text-container a:last-child{
    font-size: 50px;
    padding-top: 50px;
    display: block;
    text-decoration: none;
    color: black;


}

.header-img-container{
    flex-basis: 65%;

}

.header-img-container div{
    position: absolute;

}

.header-img-container img{

    /* border: 1px dashed black; */
    object-fit: contain;
    width: 70%;
    display: block;
}

/* main elementi centrali */
main{
    margin-top: 150px;
}

.main-container{
    width: 55%;
    margin: 0 auto;
}

.piano-business h1{
    font-size: 40px;
}

.piano-business-radio-button{
    padding-block: 50px;
}

.piano-business-radio-button span{
    padding-right: 30px;
}

/* rettangoli verticali */
.piano-business-container{
    display: flex;
    justify-content: space-between;
}
.piano-business-card{
    width: 30%;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
}

.logo-card{
    display: block;
    text-align: center;
    padding-block: 10px;
}

.piano-business-card .card-contenuto{
    padding-inline: 30px;
    padding-block: 30px;
    line-height: 200%;
}

.card-contenuto ul{
    list-style-type: none;
}

.card-contenuto.uno span:last-child{
    color: grey;
}

.card-contenuto.due li{
    display: flex;
    
}
.card-contenuto.due li i{
    padding-top: 5px;
    
}

.card-contenuto.tre span:first-of-type a{
    text-decoration: none;
    color: white;
    background-color: #0061ff; 
    padding: 5px 20px;
    display: block;
    text-align: center;
} 

.card-contenuto.tre span:last-of-type a{
    color:  #0061ff;
} 

.piano-business-card hr:last-of-type{
    color: grey;
    margin-left: 30px;
    margin-right: 200px;
}

.card-contenuto.quattro{
    display: flex;
    flex-direction: column;
}
.card-contenuto.quattro span{
    display: flex;
}

.card-contenuto.quattro i{
    padding-top: 5px;
    color: #0061ff;
}

#contattaci-button{
    padding: 5px 30px;
    text-align: center;
    display: block;
}


/* contenitore enterprise */
.enterprise-box{
    margin-top: 4%;
    border: 1px solid grey;    
}

.enterprise-box>span{
    display: block;
    padding-block: 1%;
    text-align: center;
}  

.enterprise-box hr{
    color: grey;
}    


.enterprise-box-banner-top{
    display: flex;
    justify-content: space-between; 
    padding-top: 3%; 
    padding-left: 2%;  
}

.enterprise-box-banner-top span{
    color: white;
    background-color: #0061ff; 
    padding: 1% 5%;
    text-decoration: none;
}

.enterprise-box-banner-top span a{
    color: white;
    text-decoration: none;
}

.enterprise-box-banner-bottom{
    padding-block: 2%;
    padding-right: 30%;
    padding-left: 2%;
}

.enterprise-box-banner-bottom span{
    display: block;
    padding-bottom: 10%;

}


/* container-contatto-dropbox */
.container-contatto-dropbox{
    margin-top: 20%;
    display: flex;
}

.container-contatto-dropbox figure{
    flex-basis: 55%;   
}

.container-contatto-dropbox figure img{
    width: 100%;   
    display: block;


}

.container-contatto-dropbox div{
    flex-basis: 45%;
    padding: 5% 5%;  
}

.container-contatto-dropbox div h3{
    font-size: 25px;   
}

.container-contatto-dropbox div p{
    padding-block: 5%;   
}

.container-contatto-dropbox div span{
    display: block;
    padding-block: 3%;
}

.container-contatto-dropbox div span a{
    border: 1px solid black;
    padding: 3% 3%;
    text-decoration: none;
    color: black;
}

/* 6 blocchi */
.sei-blocchi{
    margin-top: 15%;
}

.sei-blocchi-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sei-blocchi-container figure{
    flex-basis: 30%;
}

.sei-blocchi-container figure img{
    width: 100%;   
    display: block;
    padding-block: 5%;
}

.sei-blocchi-container figure p{
    padding-block: 5%;
}


/* section-team */
.section-team{
    margin-top: 15%;
}

.section-team h1{
    font-size: 40px;
    padding-right: 30%;
    margin-bottom: 6%;
}

/* sezione con i quadrati */
.sezione-quadrati{
    margin-top: 15%;
    border: 1px solid blue;
    display: flex;
    background-color: #f5f5f5;
}


.sezione-quadrati,.primo-gruppo-quadrati,.secondo-gruppo-quadrati{
    flex-basis: calc(100% / 3 - 7px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    
    
}

.sezione-quadrati figure{
    height: 310px;
    width: 310px;
    background-color: lightgreen;  
    padding: 10% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.sezione-quadrati figure img{
    filter: invert(100%);
    display: block;
    width: 100%;
    
}


/* colore di sfondo primo gruppo di quadrati */
.primo-gruppo-quadrati figure:nth-of-type(1){
    background-color: #a2d39b;    
}

.primo-gruppo-quadrati figure:nth-of-type(2){
    background-color: #61082B;   
}

.primo-gruppo-quadrati figure:nth-of-type(3){
    background-color: #0093ce;    
}

.primo-gruppo-quadrati figure:nth-of-type(4){
    background-color: #ff1c1c;    
}


/* colore di sfondo secondo gruppo di quadrati */
.secondo-gruppo-quadrati figure:nth-of-type(1){
    background-color: #D5001F;   
}

.secondo-gruppo-quadrati figure:nth-of-type(2){
    background-color: #b4d0e7;    
}

.secondo-gruppo-quadrati figure:nth-of-type(3){
    background-color: #0d2481;    
}

.secondo-gruppo-quadrati figure:nth-of-type(4){
    background-color: #ffd830;    
}


/* parte centrale quadrati con overflow */
.div-overflow{
    border: 1px solid green;
}

.div-overflow section{
    display: block;
    overflow: auto;
}

.div-overflow h1{
    font-size: 80px;
}

.div-overflow p{
    max-width: 550px;
    margin-bottom: 50px;
}

.div-overflow hr{
    color: grey;
    margin-block: 50px;
    margin-right: 450px;
}


/* sezione banda azzurra */
.sezione-banda-azzurra{
    height: 300px;
    width: 100%;
    background-color: #b4d0e7;
}

.sezione-banda-azzurra section{
    width: 55%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.sezione-banda-azzurra section div{
    flex-basis: 50%;
    padding: 50px 0;
    
}

.sezione-banda-azzurra section div h1{
    color: #61082b;
    font-size: 40px;
}

.sezione-banda-azzurra section div a{
    text-decoration: none;
    margin-left: 54%;
    padding: 10px 20px;
    color: black;
    border: none;
    background-color: white;
}


/* ultima parte del main con tendine */
.parte-finale{
    margin-block: 10%;

}

.parte-finale section{
    width: 55%;
    margin: 0 auto;
}

.parte-finale section h1{
    font-size: 40px;
}

.parte-finale hr{
    color: grey;
    margin-block: 30px;
}

.parte-finale h4{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parte-finale h4 i{
    margin-right: 3%;
}



